/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif; /* Set Playfair Display as the default font */
    background-color: #FFFDF9;
    color: #333;
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    line-height: 2; /* Add double spacing */
}

/* Apply line-height specifically to text-based elements for better readability */
p, h1, h2, h3, h4, h5, h6, .text-block, .contact-heading {
    line-height: 2; /* Double space for text elements */
}

/* Navigation Bar */
nav {
    background-color: #5CA09E; /* Teal color */
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 3px;
}

nav ul li a:hover {
    background-color: #489b8d; /* Darker shade for hover effect */
}

/* Header Section */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    background-color: #fff;
    position: relative;
    height: 100vh; /* Make header fill the full viewport height */
}

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
}

.logo h1 {
    font-size: 1.5em; /* Adjusted for better readability */
    font-family: 'TT Commons Pro', sans-serif; /* Override to use Anton font */
    line-height: 1.5;
    color: #5CA09E; /* Teal color for the rest of the word */
}

.logo .highlight {
    color: #fca3a2; /* Pink color for the first letter of each word */
    font-weight: bold;
}

/* ... other styles ... */

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .info-container {
        flex-direction: column;
        text-align: center;
    }

    .image {
        width: 80%; /* Smaller screens: make image take up more space */
    }
}
